@import 'tailwindcss';
@import 'tw-animate-css';

@import './config.css';
@import './theme.css';
@import './fonts.css';
@import './shiki.css';

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50 scroll-smooth;
  }
  body {
    @apply bg-background text-foreground min-h-dvh font-sans antialiased;
  }
}
